/**********************
* Layout
**********************/

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 38px 20vh 50vh 25vh 20px;

}

.canvas {
  grid-column: 1 / span 3;
  grid-row: 2 / span 4;
  height: 100vh;
}

section {
  grid-row-start: 3;
  grid-column-start: 2;
  z-index: 10;
  text-align: center;
  background: rgba(0,0,0,0.4);
  color: ghostwhite;
}

header {
  grid-column: span 3;
  grid-row: 1;
  background-color: black;
  color: floralwhite;
}

footer {
  grid-column: 3;
  grid-row: 5;
  background-color: black;
  color: floralwhite;
  text-decoration:none;
  padding:4px 6px;
  font-family:'-apple-system', BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  display:inline-block;
  border-radius:3px;
}

/**********************
* Background Images
**********************/

main {
  background: url('https://s3-us-west-2.amazonaws.com/green-party/water-2522629_640.jpg') no-repeat;
  background-size: cover;
}

main.cold {
  background: url('https://s3-us-west-2.amazonaws.com/green-party/runners-head-640.jpg') no-repeat;
}

main.hot {
  background: url('https://s3-us-west-2.amazonaws.com/sourcecodesamurai/namibia-640.jpg') no-repeat;
}


/**********************
* Media Queries
 *********************/

@media only screen and (min-width: 1000px) {
  main {
    background: url('https://s3-us-west-2.amazonaws.com/green-party/water-2522629_1280.jpg') no-repeat;
  }

  main.cold{
    background: url('https://s3-us-west-2.amazonaws.com/green-party/runners-head-1280.jpg') no-repeat;
  }

  main.hot {
    background: url('https://s3-us-west-2.amazonaws.com/green-party/runners-head-1280.jpg') no-repeat;
  }
}

@media only screen and (min-width: 1300px) {
  main {
    background: url('https://s3-us-west-2.amazonaws.com/green-party/water-2522629_1920.jpg') no-repeat;
  }

  main.cold {
    background: url('https://s3-us-west-2.amazonaws.com/green-party/runners-head-1920.jpg') no-repeat;
  }

  main.hot {
    background: url('https://s3-us-west-2.amazonaws.com/green-party/runners-head-1920.jpg') no-repeat;
  }
}


/**********************
* Fonts
**********************/

.info-box {
  font-size: 48px;
  font-weight: 700;
}

.temp-text {
  font-size: 62px;
  font-weight: 800;
}

.title-text {
  font-family: 'Abril Fatface', cursive;
  font-size: 28px;
  text-align: center;
}


