<div class="container">
  <header>
    <span class="title-text">{{title}}</span>
  </header>


  <main class="canvas" [ngClass]="{cold: tempInFahrenheit < 30, hot: tempInFahrenheit > 100}">
    &nbsp;
  </main>
  <section>
    <span class="info-box">{{ description }}</span>
    <img src="{{ icon }}" align="center"/><br/>
    <span class="temp-text">{{ (showCelsius) ?
                                (tempInCelsius | temperature : 'C') :
                                (tempInFahrenheit | temperature : 'F') }}
    </span><br />
    <button class="mdc-button mdc-button--raised" (click)="showCelsius = toggleValue(showCelsius)">&deg;{{(showCelsius)? 'Fahrenheit':'Celsius'}}</button>
  </section>

  <footer>
    <a
      href="https://pixabay.com"
      target="_blank" rel="noopener noreferrer"
      title="Download free do whatever you want high-resolution photos from Pixabay">
      <span style="display:inline-block;padding:2px 3px;">Pixabay.com</span>
    </a>
  </footer>
</div>

