.container {
  display: grid;
  grid-template-column: 1fr 3fr 1fr;
  grid-template-row: 38px 4fr 1fr 20px;

}

main {
  background: url('https://s3-us-west-2.amazonaws.com/green-party/water-2522629_640.jpg') no-repeat;
  background-size: 100% 100%;
}

@media only screen and (min-width: 1000px) {
  main {
    background: url('https://s3-us-west-2.amazonaws.com/green-party/water-2522629_1280.jpg') no-repeat;
    background-size: 100% 100%;
  }
}

@media only screen and (min-width: 1300px) {
  main {
    background: url('https://s3-us-west-2.amazonaws.com/green-party/water-2522629_1920.jpg') no-repeat;
    background-size: cover;
  }
}
.canvas {

  grid-column: 1/ span 3;
  grid-row-start: 2;
}

section {
  grid-row-start: 3;
  grid-column-start: 2;
  z-index: 1;
  text-align: center;
  background: rgba(0,0,0,0.8);
  color: ghostwhite;
}

.info-box {
  font-weight: 700;
}

.title-text {
  font-family: 'Abril Fatface', cursive;
  font-size: 28px;
  text-align: center;
}


header {
    grid-column: span 3;
    grid-row: 1;
    background-color: black;
    color: floralwhite;
}

footer {
  grid-column: 3;
  grid-row: 4;
  background-color: black;
  color: floralwhite;
  text-decoration:none;
  padding:4px 6px;
  font-family:'-apple-system', BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  display:inline-block;
  border-radius:3px;
}
