.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 30px 2fr;

}

.canvas {
  text-align: center;
  grid-column: 2;
  grid-row-start: 2;
}

.info-box {
  font-weight: 700;
}

.title-ribbon {
    grid-columns: 1 / span 3;
    grid-rows: 1;
    background-color: black;
    color: white;
}
